#blog h2 {
    padding-bottom: 200px;
}

/* -------------TABLET----------------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #blog {
        padding-bottom: 50px;
    }
    
    #blog h2 {
        padding-bottom: 80px;
    }
}

/* --------------PHONE-------------------- */
@media screen and (max-width: 767px) {
    #blog {
        padding-bottom: 50px;
    }

    #blog h2 {
        padding-bottom: 20px;
    }
}