.gallery-wrapper {
    margin-top: 212px;
}

.gallery__navigation {
    padding-top: 0;
    justify-content: flex-start;
}


.gallery__navigation a:not(:last-child) {
    margin-right: 30px;
}

.gallery__navigation a:hover {
    color: #00B2A0;
}

.gallery__navigation__link {
    padding-left: 0;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #242121;
}

.gallery__images {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.gallery__images__block_double {
    display: flex;
    justify-content: space-between;
    max-width: 580px;
}

.gallery__button {
    margin-top: 50px;
    text-align: center;
}