#map {
    background-color: #FFFFFF;
}

.map {
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 200px 0 0;
}

.mapArea {
    padding: 0 15px;
}

/* -------------TABLET----------------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #map {
        background-color: none;
    }

    .map {
        display: none;
    }
}

/* --------------PHONE-------------------- */
@media screen and (max-width: 767px) {
    #map {
        background-color: none;
    }

    .map {
        display: none;
    }
}