#offers {
    background-color: #F8F8F8;
}

.offers_headline {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.offers_sorts {
    display: flex;
    justify-content: space-between;
    padding-top: 212px;
}

.offers_sorts_standart, .offers_sorts_allinclusive, .offers_sorts_profi {
    display: flex;
    justify-content: center;
    max-width: 360px;
    margin-bottom: 200px;
    background-color: #FFFFFF;
}
 
.offers_sorts_standart_description, .offers_sorts_allinclusive_description, .offers_sorts_profi_description {
    padding: 58px 0 137px 43px;
}

.offers_sorts_standart_description_headline {
    padding: 45px 0 58px 50px;
}

.offers_sorts_allinclusive_description_headline {
    padding: 45px 0 58px 40px;
}

.offers_sorts_profi_description_headline {
    padding: 45px 0 58px 65px;
}

.offers_sorts_standart_description_price, .offers_sorts_allinclusive_description_price {
    padding: 100px 0 45px 100px; 
}

.offers_sorts_profi_description_price {
    padding: 95px 0 45px 100px;
}

@media screen and (max-width: 767px) { 
    .offers_sorts_standart_description, .offers_sorts_allinclusive_description, .offers_sorts_profi_description {
        padding: 0px 40px 0 43px;
    }

    .offers_headline {
        padding-top: 30px;
    }
    
    .offers_sorts {
        flex-direction: column;
        padding: 0;
    }

    .offers_sorts_standart, .offers_sorts_allinclusive, .offers_sorts_profi {
        margin: 20px auto;
    } 
}  

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .offers_sorts_standart_description, .offers_sorts_allinclusive_description, .offers_sorts_profi_description {
        padding: 0px 40px 0 43px;
    }
    
    .offers_headline {
        padding-top: 50px;
    }
    
    .offers_sorts {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .offers_sorts {
        flex-direction: column;
    }

    .offers_sorts_standart, .offers_sorts_allinclusive, .offers_sorts_profi {
        margin: 20px auto;
    }
}
