.ourteam {
    display: flex;
    justify-content: center;
    margin-top: 197px;
}

.ourteam_headline {
    padding: 200px 15px;
}

.instructors {
    display: flex;
    justify-content: space-between;
    margin-top: 212px;
}

.instructors__card {
    max-width: 330px;
}

.instructors__card_name {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.instructors__card_position {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 200px;
}
