#services {
    background-color: #F8F8F8;
}

.services__description__block__headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.services__description__block__headline h3 {
    margin: 0;
    max-width: 155px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #242121;
}

.services__description__block__text {
    margin-top: 15px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
}

.services__description__block__headline__image {
    margin-right: 10px;
}

.services__advantages__block {
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__advantages__block__text {
    margin: 0;
    max-width: 600px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
}

@media screen and (max-width: 767px) {
    .services {
        padding: 100px 15px;
    }

    .services__description {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 3);
        column-gap: 75px;
    }

    .services__advantages {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .services__advantages__block_with-text {
        margin-top: 20px;
    }

    .services__description__block__headline h3 {
        font-size: 18px;
    }

    .services__advantages__block__image {
        max-width: 346px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .services {
        padding: 200px 15px;
    }

    .services__description {
        margin-top: 101px;
        display: grid;
        grid-template-columns: repeat(3, minmax(184px, 350px));
        column-gap: 75px;
    }

    .services__advantages {
        margin-top: 103px;
        display: flex;
        justify-content: space-between;
    }

    .services__description__block__headline h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .services {
        padding: 200px 15px;
    }

    .services__description {
        margin-top: 101px;
        display: grid;
        grid-template-columns: repeat(3, minmax(184px, 350px));
        column-gap: 75px;
    }

    .services__advantages {
        margin-top: 103px;
        display: flex;
        justify-content: space-between;
    }

    .services__description__block__headline h3 {
        font-size: 24px;
    }
}