@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    /*30px для padding по 15px с каждой стороны*/
    margin: auto;
}

h2 {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #01353E;
}

.button {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #242121;
    width: 350px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
}